<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vetfinder.animal_hospital_finder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_parrot"
        android:label="스페셜 펫"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_parrot_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animal_Hospital_Finder"
        android:usesCleartextTraffic="true">
        <activity android:name=".VetDonginActivity"></activity>
        <activity android:name=".RecommandActivity" />
        <activity android:name=".VetHelloActivity" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4756367925005641~6684817912" />

        <activity android:name=".VetDoklipActivity" />
        <activity android:name=".VetAnsanafricaActivity" />
        <activity android:name=".VetGeumgangActivity" />
        <activity android:name=".VetVellaActivity" />
        <activity android:name=".VetGlobalActivity" />
        <activity android:name=".VetHansungActivity" />
        <activity android:name=".VetSeoulhqActivity" />
        <activity android:name=".VetSeoulunivActivity" />
        <activity android:name=".VetSillimActivity" />
        <activity android:name=".VetSnoopyActivity" />
        <activity android:name=".VetYdActivity" />
        <activity android:name=".VetAirportActivity" />
        <activity android:name=".VetGoodActivity" />
        <activity android:name=".VetSongActivity" />
        <activity android:name=".VetSeoulsmileActivity" />
        <activity android:name=".VetSemyungActivity" />
        <activity android:name=".VerMisoActivity" />
        <activity android:name=".VetWooshinActivity" />
        <activity android:name=".VetParkActivity" />
        <activity android:name=".VetLiebeActivity" />
        <activity android:name=".VetSangdoActivity" />
        <activity android:name=".VetDrActivity" />
        <activity android:name=".VetAlwaysActivity" />
        <activity android:name=".VetSejongActivity" />
        <activity android:name=".VetPikasoActivity" />
        <activity android:name=".VetEcoActivity" />
        <activity android:name=".VetSeoulActivity" />
        <activity android:name=".VetRafaelActivity" />
        <activity android:name=".VetGaepoActivity" />
        <activity android:name=".VetCheongdamActivity" />
        <activity android:name=".VetDaechiActivity" />
        <activity android:name=".VetDreamActivity" />
        <activity android:name=".VetWellActivity" />
        <activity android:name=".VetAcrisActivity" />
        <activity android:name=".VetGoryuActivity" />
        <activity android:name=".VetZoozooActivity" />
        <activity android:name=".VetChoiActivity" />
        <activity android:name=".VetYeonseoActivity" />
        <activity android:name=".VetHansooActivity" />
        <activity android:name=".VetEoullimActivity" />
        <activity android:name=".VetHappyActivity" />
        <activity android:name=".VetImActivity" />
        <activity android:name=".VetAfricaActivity" />
        <activity android:name=".VetBookakActivity" />
        <activity android:name=".VetForestActivity" />
        <activity android:name=".VetLkActivity" />
        <activity android:name=".VetNvetnowonActivity" />
        <activity android:name=".VetDoctorsActivity" />
        <activity android:name=".VetLeeandparkActivity" />
        <activity android:name=".VetBanghakActivity" />
        <activity android:name=".VetRealloveActivity" />
        <activity android:name=".VetNvetActivity" />
        <activity android:name=".VetBosungActivity" />
        <activity android:name=".VetWindowActivity" />
        <activity android:name=".VetHanaActivity" />
        <activity android:name=".VetCentralmediActivity" />
        <activity android:name=".VetHanyangActivity" />
        <activity android:name=".VetOshActivity" />
        <activity android:name=".VetSuwonhanmaeumActivity" />
        <activity android:name=".VetPetfieldActivity" />
        <activity android:name=".VetCharmActivity" />
        <activity android:name=".VetTwnetyfiveActivity" />
        <activity android:name=".VetHaesolActivity" />
        <activity android:name=".VetRichpetActivity" />
        <activity android:name=".VetGiheungActivity" />
        <activity android:name=".VetJookjeonActivity" />
        <activity android:name=".VetHanmaeumActivity" />
        <activity android:name=".VetPawActivity" />
        <activity android:name=".VetAnyangActivity" />
        <activity android:name=".VetSeoulcomActivity" />
        <activity android:name=".VetIndukwonActivity" />
        <activity android:name=".VetSaebomActivity" />
        <activity android:name=".VetDaoulActivity" />
        <activity android:name=".VetLeejihoonActivity" />
        <activity android:name=".VetYooljeonActivity" />
        <activity android:name=".VetWeActivity" />
        <activity android:name=".VetSeoulmedicalActivity" />
        <activity android:name=".VetDaisyActivity" />
        <activity android:name=".VetPangyoActivity" />
        <activity android:name=".VetPoleActivity" />
        <activity android:name=".VetHanovaActivity" />
        <activity android:name=".VetMomsActivity" />
        <activity android:name=".VetGogangActivity" />
        <activity android:name=".VetIlovepetActivity" />
        <activity android:name=".VetPogeunActivity" />
        <activity android:name=".VetAceActivity" />
        <activity android:name=".VetOzActivity" />
        <activity android:name=".VetDawActivity" />
        <activity android:name=".VetGeumjjockActivity" />
        <activity android:name=".VetGrandActivity" />
        <activity android:name=".VetIlsanActivity" />
        <activity android:name=".VetJmActivity" />
        <activity android:name=".VetCentralActivity" />
        <activity android:name=".VetPetpiaActivity" />
        <activity android:name=".VetGaramActivity" />
        <activity android:name=".VetTopcareActivity" />
        <activity android:name=".VetHateaheungActivity" />
        <activity android:name=".VetAraActivity" />
        <activity android:name=".VetDaoActivity" />
        <activity android:name=".VetPlazaActivity" />
        <activity android:name=".VetLimeActivity" />
        <activity android:name=".VetBupyungActivity" />
        <activity android:name=".VetSydneyActivity" />
        <activity android:name=".VetChansemActivity" />
        <activity android:name=".VetNonhyunActivity" />
        <activity android:name=".VetAnyhealActivity" />
        <activity android:name=".VetSeogorActivity" />
        <activity android:name=".VetShinhwaActivity" />
        <activity android:name=".VetDasomActivity" />
        <activity android:name=".VetGorActivity" />
        <activity android:name=".VetAnyActivity" />
        <activity android:name=".VetAinActivity" />
        <activity android:name=".VetChoongbookActivity" />
        <activity android:name=".VetSooActivity" />
        <activity android:name=".VetKenyaActivity" />
        <activity android:name=".VetJoActivity" />
        <activity android:name=".VetCoolActivity" />
        <activity android:name=".VetHwangActivity" />
        <activity android:name=".VetYedamActivity" />
        <activity android:name=".VetIsopActivity" />
        <activity android:name=".VetVestActivity" />
        <activity android:name=".VetAquaActivity" />
        <activity android:name=".VetLovelyActivity" />
        <activity android:name=".VetFeelActivity" />
        <activity android:name=".VetMiraeActivity" />
        <activity android:name=".VetNobleActivity" />
        <activity android:name=".VetHanilActivity" />
        <activity android:name=".VetGoodocActivity" />
        <activity android:name=".VetLangsActivity" />
        <activity android:name=".VetShinsegeActivity" />
        <activity android:name=".VetNewworldActivity" />
        <activity android:name=".VetGooseoActivity" />
        <activity android:name=".VetHadanActivity" />
        <activity android:name=".VetSamsungActivity" />
        <activity android:name=".VetOceanActivity" />
        <activity android:name=".VetUnActivity" />
        <activity android:name=".VetGoActivity" />
        <activity android:name=".VetRealActivity" />
        <activity android:name=".VetDukcheonActivity" />
        <activity android:name=".VetIrumActivity" />
        <activity android:name=".VetSeodongActivity" />
        <activity android:name=".VetSunActivity" />
        <activity android:name=".VetFirstActivity" />
        <activity android:name=".VetShinActivity" />
        <activity android:name=".VetJoeunActivity" />
        <activity android:name=".VetCgActivity" />
        <activity android:name=".VetGulhwaActivity" />
        <activity android:name=".VetLightActivity" />
        <activity android:name=".VetSActivity" />
        <activity android:name=".VetSmileActivity" />
        <activity android:name=".VetZooActivity" />
        <activity android:name=".VetJoongmaActivity" />
        <activity android:name=".VetFutureActivity" />
        <activity android:name=".VetBlueActivity" />
        <activity android:name=".VetHealingActivity" />
        <activity android:name=".VetSomangActivity" />
        <activity android:name=".VetSoowanActivity" />
        <activity android:name=".VetKorActivity" />
        <activity android:name=".VetNoahActivity" />
        <activity android:name=".VetAkActivity" />
        <activity android:name=".VetRoyalActivity" />
        <activity android:name=".VetInoActivity" />
        <activity android:name=".VetKirinActivity" />
        <activity android:name=".VetHallahActivity" />
        <activity android:name=".VetHealthActivity" />
        <activity android:name=".VetKiumActivity" />
        <activity android:name=".VetGounActivity" />
        <activity android:name=".SejongActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".RodentInformationActivity" />
        <activity android:name=".ReptileInformationActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".JejuActivity" />
        <activity android:name=".GwangjuActivity" />
        <activity android:name=".UlsanActivity" />
        <activity android:name=".BusanActivity" />
        <activity android:name=".DaeguActivity" />
        <activity android:name=".DaejunActivity" />
        <activity android:name=".JeonraActivity" />
        <activity android:name=".GyeongsangActivity" />
        <activity android:name=".ChoongchungActivity" />
        <activity android:name=".GangwonActivity" />
        <activity android:name=".IncheonActivity" />
        <activity android:name=".GyeonggiActivity" />
        <activity android:name=".SeoulActivity" />
        <activity android:name=".HelpPopupActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>